---
# Only the main Sass file needs front matter (the dashes are enough)
---
$grey-color:       #828282;

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

a.site-title {
  font-size: 1.5em !important;
  font-weight: bold !important;
}