*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: none;
    margin-top: 2em;
}

h3 small {
    font-size: 50%;
    display: block;
}


.background {
    fill: none;
    pointer-events: all;
}

.feature {
    cursor: pointer;
}

.feature.active {
    fill: orange;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.5px;
    vector-effect: non-scaling-stroke;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
}

div.tooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font: 12px sans-serif;
    background: #333;
    color: #eee;
    border: 0px;
    border-radius: 8px;
  }

div.tooltip span.header {
    font-weight: bold;
}

.actual-cases-line {
    fill: none;
    stroke: rgba(70, 130, 180, 0.4);
    stroke-width: 1;
}

.smoothed-cases-line {
    fill: none;
    stroke: rgba(70, 130, 180);
    stroke-width: 1.5;
}

.projected-cases-median-line {
    fill: none;
    stroke: rgb(139, 0, 0);
    stroke-width: 1.5;
}

.projected-cases-area {
    fill: rgb(139, 0, 0);
    opacity: 0.4;
}

.rt-line {
    fill: none;
    stroke: rgba(70, 130, 180);
    stroke-width: 1.5;
}

.rt-inner-area {
    fill: rgb(70, 130, 180);
    opacity: 0.4;
}

.rt-outer-area {
    fill: rgb(70, 130, 180);
    opacity: 0.2;
}

.rt-horizontal-line {
    stroke-width: 2;
    stroke: #333;
    stroke-dasharray: 5;
}

#chart {
    margin-top:2em;
}

span.info-heading {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: sans-serif;
}

.active {
    font-weight: bold;
}

.info-row {
    margin-bottom: 0.5em;
}

#sub-heading {
    margin-top: -1em;
    font-size: 0.9em;
    margin-left: 0.25em;
    margin-bottom: 2em;
}

#cases-title {
    margin-top: 1em;
}

#estimates-title {
    margin-top: 1em;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #F1F3F3;
    stroke: #333;
    stroke-width: 5px;
}

.hover-line {
    stroke: #333;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

#areaSearch {
    width: 75%;
}

.search-container {
    padding-left: 2em;
}

/* From https://github.com/Pixabay/JavaScript-autoComplete */
.autocomplete-suggestions {
    text-align: left; 
    cursor: default; 
    border: 1px solid #ccc; 
    border-top: 0; 
    background: #fff; 
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    position: absolute; 
    display: none; 
    z-index: 9999; 
    max-height: 254px; 
    overflow: hidden; 
    overflow-y: auto; 
    box-sizing: border-box;
}
.autocomplete-suggestion { 
    position: relative; 
    padding: 0 .6em; 
    line-height: 23px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 1.02em; 
    color: #333; 
}
.autocomplete-suggestion b { 
    font-weight: normal; 
    color: #1f8dd6; 
}
.autocomplete-suggestion.selected { 
    background: #f0f0f0; 
}